<ng-template transloco let-fn="$implicit">
  <ng-container *ngIf="selectedCity$ | async; let city">
    <ng-container *ngIf="surveys$ | async; let surveys">
      <ion-header>
        <ion-toolbar color="brand">
          <ion-buttons slot="start" *ngIf="(surveys ?? []).length > 0">
            <ion-button routerLink="/" routerDirection="forward">
              <ion-icon slot="icon-only" name="home"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title>
            {{city.name}}
          </ion-title>

          <ng-container *ngIf="tr.selectedLang$ | async; let selectedLang">
            <ion-buttons slot="end">
              <ion-button (click)="presentLangPopover($event)">
                {{ selectedLang.label }}
              </ion-button>
            </ion-buttons>
          </ng-container>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img class="logoRectLittle" [src]="city.immagine_small.url" [width]="city.immagine_small.width"
              [height]="city.immagine_small.height" *ngIf="city.immagine_small" />
          </ion-thumbnail>

          <ion-label>
            <h1 class="ion-text-wrap">
              {{ tr.c(fn,(surveys ?? []).length < 1 ? 'SURVEYHOME.SLOGAN' : 'SURVEYADD.SLOGAN' ) }} </h1>
          </ion-label>
        </ion-item>

        <ion-grid [fixed]="true" *ngIf="(surveys ?? []).length < 1">
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col>
              <h1 class="ion-text-wrap">
                {{ tr.c(fn,'SURVEYADD.NOSURVEYS') }}
              </h1>
            </ion-col>
            <ion-col size="auto">
              <ion-button size="large" color="primary" fill="solid" routerLink="/scan" routerDirection="forward">
                <ion-icon slot="start" name="add" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
          <ion-item lines="full" button="false" detail="false" *ngFor="let survey of surveys">
            <ion-label>
              <h4>
                <ion-icon name="lock-closed" *ngIf="!survey?.campaign?.is_active"></ion-icon>
                {{survey?.campaign?.name}}
              </h4>

              <h4 *ngIf="survey?.school?.name">
                {{survey?.school?.name}}
              </h4>

              <h4>
                <ion-text color="primary">
                  {{ tr.c(fn,'SURVEY.KIND.' + survey?.kind.toUpperCase()) }}
                </ion-text>
              </h4>

              <ion-toolbar>
                <span class="ion-text-start">
                  {{ tr.c(fn,'SURVEY.STATUS.' + survey?.status + '.LABEL') }}
                </span>
                <ion-buttons slot="end">
                  <ion-button color="primary" fill="clear" slot="end"
                    [routerLink]="survey?.must_fillout ? ['/survey',survey.id] : ['/survey',survey.id,'summary']"
                    routerDirection="forward">
                    {{ tr.c(fn,'SURVEY.STATUS.' + survey?.status + '.ACTION') }}
                  </ion-button>
                </ion-buttons>
                <div>
                  <small>
                    {{ tr.c(fn,'SURVEY.STAMP') }}:
                    {{survey?.stamp | date}}
                  </small>
                </div>
              </ion-toolbar>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-container>
  </ng-container>
</ng-template>